.App, .layout-container {
  min-height: 100vh !important;
}

.authMasterCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.authMainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 1.5rem;
}

.titleContainer {
  width: 100%;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputButton{
  background-color: #282c34;
}
.layout-container{
  background-color: var(--beige);
}
.resultContainer,
.historyItem {
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  font-size: 1.1rem;
  padding: 1rem;
  width: 80%;
  border-radius: 0.5rem;
  border: 1px solid grey;
}

.authBtn {
  all: unset;
  padding: 0.75rem 1rem;
  font-size: 1.15rem;
  color: #fff;
  background-color: var(--primary-blue);
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  transition: 0.15s all ease-in-out;
}

.authBtn:hover {
  background-color: var(--hover-blue);
  transform: scale(1.05);
}

.credentialsCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.noAccountRegisterBtn {
  all: unset;
  color: var(--primary-blue);
  cursor: pointer;
  transition: 0.15s all ease-in-out;
  text-decoration: underline;
}

.noAccountRegisterBtn:hover {
  color: var(--hover-blue);
  transform: scale(1.05);
}