:root {
  --primary-blue: #19456B;
  --hover-blue: #0E2A3A;
  --beige: #F8F1F1;
  --yellow: #F9E076;
  --green: #228B22;
  --red: #D70040;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 !important;
}

h1 {
  margin: 0 !important;
}